@import "../../../assets/abstract/variables.scss";

.list-item {
    background-color: $secondary-color;
    color: $primary-color;



    :hover{
        background-color: $primary-color;
        color: $secondary-color;
    }

}

.tm-nav-link {
    cursor : pointer !important;
}