@import "../../../assets/abstract/variables.scss";

.list-item {
    background-color: $primary-color;
    color: $secondary-color;

    :hover{
    background-color: $secondary-color;
    color: $primary-color;
    }

}