<div class="col-lg-7 tm-contact-left">
    <form [formGroup]="otpForm" class="mb-5 ml-auto mr-0 tm-contact-form">
        <div class="form-group row mb-4">
            <label for="name" class="col-sm-3 col-form-label text-right tm-color-primary">OTP</label>
            <div class="col-sm-9">
                <input class="form-control mr-0 ml-auto" name="otp-field" id="otp-field" formControlName="otp-field" type="text">
            </div>
        </div>
        <div class="form-group row text-right">
            <div class="col-12">
                <button class="tm-btn tm-btn-primary tm-btn-small" (click)="verifyOtp()">Submit OTP</button>
            </div>
        </div>
    </form>
</div>